{% extends 'base.html' %}
{%load static %}
{% block content %}
<body>
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url({% static 'store/img/hero-bg.png' %});">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>YouTube Details</h2>
              <p>Your Link : <a href="{{link}}" target="_blank" rel="noopener noreferrer">{{link}}</a></p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home'%}">Home</a></li>
            <li>YouTube Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Get a Quote Section ======= -->
    
    <section id="get-a-quote" class="get-a-quote">
      {%if video_id %}
      <div class="row g-0 container b1" >


          <div class="col-lg-5 quote-bg b3" >
            <img src="{{image}}" alt="{{title}}" class="quote-bg">
          </div>

          <div class="col-lg-7 php-email-form b2">
            {% comment %} <form action="forms/quote.php" method="post" class="php-email-form"> {% endcomment %}
              <h3>YouTube Details</h3>
              <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
              <div class="row gy-4">

                <div class="col-md-6 ">
                  {% comment %} <input type="text" name="departure" class="form-control" placeholder="City of Departure" required> {% endcomment %}
                  <h3>Author: </h3>
                  <p>{{author}}</p>
                </div>

                <div class="col-md-6 ">
                  {% comment %} <input type="text" name="delivery" class="form-control" placeholder="Delivery City" required> {% endcomment %}
                  <h3>Title: </h3>
                  <p>{{title}}</p>
                </div>

                <div class="col-md-6 ">
                  {% comment %} <input type="text" name="delivery" class="form-control" placeholder="Delivery City" required> {% endcomment %}
                  <h3>Duration: </h3>
                  <p>{{duration}} seconds</p>
                </div>

                <div class="col-md-6 ">
                  {% comment %} <input type="text" name="delivery" class="form-control" placeholder="Delivery City" required> {% endcomment %}
                  <h3>Published Date: </h3>
                  <p>{{date}}</p>
                </div>

                <div class="col-md-6 ">
                  {% comment %} <input type="text" name="weight" class="form-control" placeholder="Total Weight (kg)" required> {% endcomment %}
                  <h3>Views: </h3>
                  <p>{{views}} views</p>
                </div>

                <div class="col-md-6 ">
                  {% comment %} <input type="text" name="dimensions" class="form-control" placeholder="Dimensions (cm)" required> {% endcomment %}
                  <h3>Age Restriction: </h3>
                  <p>{{age}}</p>
                </div>

                <div class="col-md-12">
                  {% comment %} <input type="text" name="name" class="form-control" placeholder="Name" required> {% endcomment %}
                <h3>Video Id: </h3>
                <p>{{video_id}}</p>

                </div>

                <div class="col-md-12 ">
                  {% comment %} <input type="email" class="form-control" name="email" placeholder="Email" required> {% endcomment %}
                  <h3>Description: </h3>
                  <p>{{description}}</p>
                </div>

              </div>
              <div class="d-button">
                <div class="">
                  <form action="" method="post">
                    {% csrf_token %}

                    <button type="submit" name="submit" value="downloadmp3">Download mp3</button>
                  </form>
                </div>
                <div class="">
                  <form action="" method="post">
                    {% csrf_token %}

                    <button type="submit" name="submit" value="downloadmp4">Download mp4</button>
                  </form>

                </div>
              </div>
               
              

              </div>
            {% comment %} </form> {% endcomment %}
          </div><!-- End Quote Form -->



      </div>
      {% else %}
      <div class="No_record">

        <p>No Record found for : {{link}}</p>
      </div>

      {% endif %}
    </section><!-- End Get a Quote Section -->
 
  </main><!-- End #main -->

  {% endblock content %}
